* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: sans-serif;
   

}



main { 
    box-sizing: border-box;
    width: 1120px;
    height: 30px;
    margin: 80px ;
}

img {
   
        width: 1120px; /* Largura da imagem */
        height: auto; /* Altura proporcional à largura */
        border-radius: 28px;
        margin-bottom: 24px;
    
} 
  .image-container {
    display: flex; /* Para alinhar imagem e legenda */
    flex-direction: column; /* Legenda abaixo da imagem */
    align-items: center; /* Centralizar a legenda */
    text-align: center;
  }

main {
    padding: 40px;
    width: 1280px;
    
}


    header {
        width: 1120;
        height: 79px;
        margin: 24px;
    }

    span {
       width:1120px ;
       height: 22px;
        color: #E1624F;
       line-height: 100%;
        font-size: 16px;
        font-family: sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }




h1 {
    color: #1B1B1B;
    line-height: 100%;
    font-size: 40px;
    margin-bottom: 40px;
    


}

p {
    
    font-size: 16px;
    color: #333333;
    font-family: sans-serif italic;

}



ul {
    padding-left: 24px;

}


